name: Build

permissions:
  contents: write

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          # windows
          - os: windows-2025
            name: windows-amd64
            vcpkg_triplet: x64-windows-static
            linker_flags: -static
          # linux
          - os: ubuntu-24.04
            name: linux-amd64
            vcpkg_triplet: x64-linux
            linker_flags: -static
          - os: ubuntu-24.04-arm
            name: linux-arm64
            vcpkg_triplet: arm64-linux
            linker_flags: -static
          # macos
          - os: macos-15-intel
            name: macos-x64
            vcpkg_triplet: x64-osx
          - os: macos-15
            name: macos-arm64
            vcpkg_triplet: arm64-osx

    runs-on: ${{ matrix.os }}

    env:
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.vcpkg_triplet }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - id: timestamp
        name: timestamp
        shell: bash
        run: echo "TIMESTAMP=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_OUTPUT
      - uses: lukka/get-cmake@v4.1.1
      - uses: lukka/run-vcpkg@v11.5
        with:
          vcpkgJsonGlob: vcpkg.json
      - name: prepare
        shell: bash
        run: |
          cp vcpkg.json osslsigncode/vcpkg.json
          perl -i -pe "s|include\(CMakeTest\)|#include(CMakeTest)|g" osslsigncode/CMakeLists.txt
      - name: cmake configure
        run: cmake -G Ninja -S osslsigncode -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXE_LINKER_FLAGS=${{ matrix.linker_flags }} -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/files
      - name: cmake build
        run: cmake --build build --config Release
      - name: cmake install
        run: cmake --install build
      - uses: actions/upload-artifact@v4
        with:
          name: osslsigncode-${{ steps.timestamp.outputs.TIMESTAMP }}-${{ matrix.name }}
          path: ${{ github.workspace }}/files/bin


  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: summary
        run: bash bump.sh
      - uses: dawidd6/action-download-artifact@v11
        with:
          run_id: ${{ github.run_id }}
          path: ${{ github.workspace }}/files
          skip_unpack: true
          merge_multiple: true
      - uses: softprops/action-gh-release@v2
        with:
          name: nightly
          tag_name: nightly
          make_latest: true
          body_path: ${{ github.workspace }}/version.md
          files: ${{ github.workspace }}/files/**/*
